* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 300px;
  text-align: center;
  padding-bottom: 30px;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

tr {
  padding-top: 3px;
}

td {
  border-bottom: 1px solid black;
}

button {
  cursor: pointer;
  padding: 1px;
  border-radius: 3px;
}

ul {
  width: 80%;
  margin: 0 auto;
  list-style-position: inside;
}

li {
  margin: 10px 0;
  text-align: left;
}

li button {
  display: inline-block;
  margin-left: 10px;
}

.primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}